<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/login.css">
    <link rel="shortcut icon" href="/public/img/logo-icon.svg" type="image/x-icon">
    <title>Login</title>
</head>

<body>
    <div class="container_white">
        <div class="login_container">
            <img class="image" src="../public/img/compilando_comnhecimento.png" alt="" width="60%">
            <p>Visite o nosso blog <a href="/"><strong>aqui.</strong></a></p>
            <label class="title">Seja bem-vindo!</label>
            <form class="form" action="/users/login" method="POST">
                <input type="text" name="user" placeholder="User">
                <input type="password" name="password" placeholder="Senha">
                <button>Entrar</button>
            </form>
            <% if (error) { %>
            <p class="error">Login ou senha incorretos</p>
            <% } %>
        </div>
    </div>
    <div class="container_purple"></div>
</body>

</html>