<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/create.css">
    <link rel="shortcut icon" href="/public/img/logo-icon.svg" type="image/x-icon">
    <title>Cadastrar usuário</title>
</head>


<body class="body">
    <section class="return">
        <img class="image" src="/public/img/compilando_comnhecimento.png" width="15%">
        <div>
            <a href="/users/home" style="width: auto;">Home</a>
            <!-- <a class="link" href="/users//show/create">Cadastrar artigo</a> -->
            <a class="link" href="/users/logout">Sair</a>
        </div>
    </section>
    <main>

        <article>
            <section style="width: auto;">
                <h1 class="title">Crie novos <strong>usuários!</strong>
                </h1>
            </section>
            <section class="create-form">
                <form action="/users/create" class="form">
                    <div class="item-text">
                        <label>Qual o nome completo do usuário?</label>
                        <input type="text" name="name">
                    </div>
                    <div class="item-text">
                        <label>Qual o e-mail?</label>
                        <input type="email" name="email">
                    </div>
                    <div class="item-text">
                        <label>Informe o user:</label>
                        <input type="text" name="user">
                    </div>
                    <div class="item-text">
                        <label>Digite a senha de acesso:</label>
                        <input type="password" name="password">
                    </div>
                    <section class="options-form">
                        <div>
                            <label>Esse usuário será</label>
                            <select name="acess" class="selector">
                                <option value="admin">Administrador</option>
                                <option value="autor">Autor</option>
                            </select>
                        </div>
                        <div class="checkbox-div">
                            <label>Ativo</label>
                            <input type="checkbox" name="status" value="on" checked>
                        </div>
                    </section>
                    <footer>
                        <button class="submit-button">Cadastrar usuário</button>
                    </footer>
                </form>
                <div class="warning">
                    <% if (errormessage) { %>
                    <div><%= errormessage %></div>
                    <% }%>
                </div>
            </section>
        </article>
    </main>
</body>

</html>