@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;0,800;1,400&display=swap");

body {
  margin: 0;
  overflow: hidden;
  background-color: #f6f6f6;
  display: grid;
  padding: 30px;
  min-height: 100vh;
  overflow: scroll;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

main {
  display: grid;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: Light;
}

.as {
  width: 40%;
  display: flex;
  gap: 10%;
}

.link {
  color: gray;
  text-decoration: none;
}

.title {
  margin-top: 5%;
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #545454;
  margin-bottom: 2%;
}

.subtitle {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: gray;
}

.span {
  color: #a34aba;
}

.button {
  height: auto;
  width: 300px;
  background-color: transparent;
  color: #a34aba;
  border: solid;
  border-radius: 15px;
  padding: 10px 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin-top: 2%;
  cursor: pointer;
}

.serch_label {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #545454;
}

.search_container {
  margin-top: 1%;
  display: flex;
  justify-self: center;
  position: relative;
  width: 45%;
  display: flex;
  align-items: center;
}

.search_input {
  padding: 10px 20px;
  width: 100%;
  height: auto;
  text-align: start;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 18px;
  border: solid;
  border-color: #545454;
  border-radius: 20px;
  background-color: transparent;
}

.image_search {
  position: absolute;
  right: 15px;
  top: 12px;
  fill: gray;
}

.artigos_container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#artigos_container {
  width: 100%;
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7% 0;
  padding-top: 2%;
  padding-bottom: 5%;
  justify-items: center;
}

.card-articles {
  background-color: #a34aba;
  border: 3px solid black;
  border-radius: 25px;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.card {
  background-color: #a34aba;
  width: 90%;
  height: 100%;
  border: solid;
  border-color: black;
  border-radius: 25px;
  color: white;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
  margin-bottom: 5%;
}

.card-body {
  margin: 0 5%;
  display: flex;
  flex-direction: column;
}

.titulo {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 22px;
}

.autor {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 5%;
}

.p_chave {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 15%;
}

.card_link {
  display: flex;
  justify-content: flex-end;
  color: #f6f6f6;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding: 20px;
  text-decoration: none;
}

.favorite {
  fill: white;
}

.component_title {
  padding: 0% 5%;
  display: flex;
  align-items: center;
}

#favorite_button {
  background: none;
  border: none;
}

.lable-artigos {
  padding: 20px 0px;
  display: flex;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: #545454;
}

.admin-card-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-left: 2%; */
}

.garbage-img {
  fill: white;
  margin-right: 5%;
}

.card-users {
  background-color: #a34aba;
  width: 100%;
  height: 100px;
  border: solid;
  border-color: black;
  border-radius: 25px;
  color: white;
  margin-bottom: 2%;
  display: flex;
  justify-content: space-between;
}

.titulo-admin {
  color: white;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 20px;
}

.edit {
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 20px;

  > a {
    height: 30px;
  }

  > img {
    cursor: pointer;
  }
}
