@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: grid;
    grid-template-columns: 40% 60%;
  }

.container_white {
  height: 100vh;
  background-color:  #F6F6F6;
}

.container_purple {
  height: 100vh; 
  background-color:  #A34ABA;
}

.login_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 10px;
    
}

.title {
    margin-bottom: 5%;
    margin-top: 5%;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: gray;
    font-size: 25px;
}

input {
    border-radius: 25px;
    padding: 16px 20px;
    border-color: #545454;
    border-width: 3px;
    border-style: solid;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 25px;
}

button {
    width: 50%;
    border-radius: 25px;
    padding: 16px 20px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-color: #A34ABA;
    color: white;
    margin-left: 25%;
}

.error {
  color: red;
  font-family: 'Poppins', sans-serif;
}